{% if birthdayBoys %}
    <div>База иненинников:</div>

    <div id="table-container">
        <table id="priceCategories">
            <thead>
            <tr>
                <th onclick="sortTable($('#spectacles').find('tbody'), 0, 'tabledit-span', 'number')">#</th>
                <th onclick="sortTable($('#spectacles').find('tbody'), 1, 'tabledit-span', 'string')">ФИО</th>
                <th onclick="sortTable($('#spectacles').find('tbody'), 2, 'tabledit-span', 'string')">Телефон</th>
                <th onclick="sortTable($('#spectacles').find('tbody'), 3, 'tabledit-span', 'string')">Дата рождения</th>
                <th onclick="sortTable($('#spectacles').find('tbody'), 4, 'tabledit-span', 'string')">Комментарий</th>
                <th onclick="sortTable($('#spectacles').find('tbody'), 5, 'tabledit-span', 'number')">Возраст</th>
            </tr>
            </thead>

            <tbody>

            {% for item in birthdayBoys %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.fullName }}</td>
                    <td>{{ item.phone }}</td>
                    <td class="tabledit-input-date">{{ item.birthday | date("d.m.Y") }}</td>
                    <td>{{ item.comment }}</td>
                    <td>{{ ages[item.id] }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div style="margin: 30px"></div>

    <script type="text/javascript">
        $('#priceCategories').Tabledit({
            url: '{{ path('birthday_boys_edit_from_table_action') }}',
            inputClass: 'input_green',
            editButton: true,
            buttons: {
                edit: {
                    class: 'button button-edit-table',
                    html: '<span class="glyphicon glyphicon-pencil"></span>',
                    action: 'edit',
                    method: 'POST'
                },
                delete: {
                    class: 'button button-edit-table',
                    html: '<span class="glyphicon glyphicon-trash"></span>',
                    action: 'delete',
                    method: 'DELETE'
                },
                save: {
                    class: 'button button-save',
                    html: 'Сохранить'
                },
                restore: {
                    class: 'button btn-sm btn-warning',
                    html: 'Восстановить',
                    action: 'restore'
                },
                confirm: {
                    class: 'button button-delete',
                    html: 'Подтвердить'
                }
            },
            columns: {
                identifier: [0, 'id'],
                editable: [[1, 'fullName'], [2, 'phone'], [3, 'birthday'], [4, 'comment']]
            }
        });

        $('.tabledit-input-date').each(function () {
            $row = $(this);

            $row.find('input').addClass('js-datepicker');
        });

        $('.js-datepicker').datepicker({
            changeMonth: true,
            changeYear: true
        });

    </script>

{% else %}

    <div class="text center">Нет именинников в базе</div>

{% endif %}