<div class="title center">Заявка:</div>
<button class="rightButton" onclick="deleteUserApplication('{{ userApplication.id }}')">
    <span class="glyphicon glyphicon-trash"></span>
</button>
<button class="rightButton" onclick="loadContent('{{ path('spectacle_period_edit_user_application', {'spectacleId': spectaclePeriod.id, 'userApplicationId': userApplication.id}) }}', 'Редактировать заявку', true)">
    <span class="glyphicon glyphicon-edit"></span>
</button>
<div class="title">ФИО: {{ userApplication.fullName }}</div>
<div class="text">{{ userApplication.spectacleDate | date("d.m.Y")  }}</div>
<div class="text">Время: {{ userApplication.spectacleTime }}</div>
<div class="text">Телефон: {{ userApplication.phone }}</div>
<div class="text">Кол-во питающихся: {{ userApplication.numberOfEaters }}</div>
{% if userApplication.checkedByAdmin %}
    <div class="text">Подтверждена</div>
{% else %}
    <div class="text">Не подтверждена</div>
{% endif %}
<div class="text">Комментарий: {{ userApplication.comment }}</div>

<div class="title">Билеты:</div>
{% for ticket in userApplication.tickets if ticket.count != 0 %}
    <div class="text"> {{ ticket.priceCategory.name }} - {{ ticket.priceCategory.price }} рублей - {{ ticket.count }}
        шт
    </div>
{% endfor %}
<div class="text">Кол-во питающихся: {{ userApplication.numberOfEaters }}</div>
<div class="text">Общая стоимость: {{ userApplication.cost }}</div>

<script type="text/javascript">

    $(document).ready(function () {
        {% if userApplication.checkedByAdmin %}
        setSelected('acceptedApplications');
        {% else %}
        setSelected('notAcceptedApplications');
        {% endif %}
    });

    function deleteUserApplication(id) {
        $.ajax({
            url: '{{ path('user_application_edit_action') }}',
            type: "DELETE",
            data: {
                id: id
            }
        }).done(function (data) {
            if (data.status == 'ok') {
                acceptedApplications();
            }
        });
    }
</script>
