{% if userApplications is empty %}
    <div class="text center">Нет заявок</div>
{% else %}
    <div class="title center">Заявки</div>
    {% for item in userApplications %}

        <button class="rightButton" onclick="deleteUserApplication('{{ item.id }}')">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button class="rightButton" onclick="loadContent('{{ path('spectacle_period_edit_user_application', {'spectacleId': spectaclePeriod.id, 'userApplicationId': item.id}) }}', 'Редактировать заявку', true)">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
        <div class="title">ФИО: {{ item.fullName }}</div>
        <div class="text">{{ item.spectacleDate | date("d.m.Y")  }}</div>
        <div class="text">Время: {{ item.spectacleTime }}</div>
        <div class="text">Телефон: {{ item.phone }}</div>
        <div class="text">Кол-во питающихся: {{ item.numberOfEaters }}</div>
        {% if item.checkedByAdmin %}
            <div class="text">Подтверждена</div>
        {% else %}
            <div class="text">Не подтверждена</div>
        {% endif %}
        <div class="text">Комментарий: {{ item.comment }}</div>

        <div class="title">Билеты:</div>
        {% for ticket in item.tickets %}
            <div class="text"> {{ ticket.priceCategory.name }} - {{ ticket.priceCategory.price }} рублей - {{ ticket.count }} шт</div>
        {% endfor %}
        <div class="text">Кол-во питающихся: {{ item.numberOfEaters }}</div>
        <div class="text">Общая стоимость: {{ item.cost }}</div>

        {% if item != userApplications[userApplications | length - 1] %}
            <div class="divider"></div>
        {% endif %}
    {% endfor %}
{% endif %}

<a class="button-send" onclick="addUserApplication()">Добавить</a>

<script type="text/javascript">
    function deleteUserApplication(id) {
        $.ajax({
            url: '{{ path('user_application_edit_action') }}',
            type: "DELETE",
            data: {
                id: id
            }
        }).done(function (data) {
            if (data.status == 'ok') {
                userApplications();
            }
        });
    }
</script>
